$primary-color: #4caf50;
$dark-primary-color: #388e3c;
$light-primary-color: #c8e6c9;
$text-icons-color: #ffffff;
$accent-color: #ff9800;
$divider-color: #bdbdbd;
$primary-text: #212121;
$secondary-text: #757575;
