$primary-color: #03A9F4;
$dark-primary-color:#0288D1;
$light-primary-color:#B3E5FC;
$text-icons-color: #ffffff;
$accent-color: #FF5722;
$divider-color: #bdbdbd;
$primary-text: #212121;
$secondary-text: #757575;
$active-btn: #448aff;
