@import '../App/styleVariables.scss';
.submitBtn {
  min-width: 150px;
  max-width: 300px;
  height: 35px;
  background-color: $accent-color;
  box-shadow: 1px 1px 4px black;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 5px;
}

.formWrapper {
  background-color: $primary-color;
  padding: 20px;
  border-radius: 10px;
}

.nameInput {
  width: 95%;
}
