@import 'components/App/styleVariables.scss';

.contactName {
  display: block;
  padding-right: 4px;
  flex-grow: 2;
  color: $primary-text;

  @media screen and (max-width: 1600px) {
    display: block;
    width: 100%;
  }
}

.contactNumber {
  margin-right: 5px;
  display: inline-block;
}

.buttonsWrapper {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;

   
}

.callRef {
  text-decoration: none;
  color: $secondary-text;
  position: relative;
  

  &:hover::before {
    content: "Call";
    display: inline-block;
    position: absolute;
    top: -15px;
    left: 7px
  }
}
